{{template "overviewHeader.html" .}}

<!-- Page Content -->
<div class="container">
{{if not .fans}}
	<h1>No Response from Server</h1>
{{else}}
<table class="table table-striped">
	<thead>
		<tr>
			<th>Name</th>
			<th>Status</th>
      <th>Speed</th>
		</tr>
	</thead>
	<tbody>
	{{range $fan := .fans}}
		<tr>
			<td>{{$fan.FanName}}</td>
			<td>
			{{if eq $fan.FanStatus.Health "OK"}}
				<button type="button" class="btn btn-success">{{$fan.FanStatus.Health}}</button>
			{{else}}
				<button type="button" class="btn btn-warning">{{$fan.FanStatus.State}}</button>
			{{end}}
			</td>
			<td>{{$fan.CurrentReading}}</td>
		</tr>
	{{end}}
	</tbody>
</table>
{{end}}
</div>
<!-- /.container -->

{{template "footer.html" .}}
