{{template "overviewHeader.html" .}}

<!-- Page Content -->
<div class="container">

<table class="table table-striped">
	<thead>
		<tr>
			<td>SubSystem</td>
			<td>State</td>
		</tr>
	</thead>
	<tbody>
		{{range $key, $value := .healthMap}}
		<tr>
			<th>{{$key}}</th>
			<th>
			{{if eq $value "OK"}}
				<button type="button" class="btn btn-success">
			{{else}}
				<button type="button" class="btn btn-warning">
			{{end}}
				{{$value}}</button></a>
			</th>
		</tr>
		{{end}}
	</tbody>
</table>

</div>
<!-- /.container -->

{{template "footer.html" .}}
