{{template "overviewHeader.html" .}}

<!-- Page Content -->
<div class="container">

<table class="table table-striped">
	<thead>
		<tr>
			<td>SubSystem</td>
			<td>State</td>
		</tr>
	</thead>
	<tbody>
		{{range $key, $value := .totalHealthMap}}
		<tr>
			<th>{{$key}}</th>
			<th>
        {{if eq $key "Fans"}}
        <a href="{{url "Monitor.Fans" $.ilo_id}}">
        {{else if eq $key "Powers"}}
        <a href="{{url "Monitor.Powers" $.ilo_id}}">
        {{else if eq $key "Temperatures"}}
        <a href="{{url "Monitor.Temperatures" $.ilo_id}}">
        {{end}}

        {{if eq $value "OK"}}
        <button type="button" class="btn btn-success">
        {{else}}
				<button type="button" class="btn btn-warning">
        {{end}}

				{{$value}}</button></a>
			</th>
		</tr>
		{{end}}
	</tbody>
</table>

</div>
<!-- /.container -->

{{template "footer.html" .}}
