{{template "overviewHeader.html" .}}

<!-- Page Content -->
<div class="container">
{{if not .powers}}
	<h1>No Response from Server</h1>
{{else}}
<table class="table table-striped">
	<thead>
		<tr>
			<th>Bay Number</th>
			<th>Model</th>
			<th>Status</th>
		</tr>
	</thead>
	<tbody>
	{{range $power := .powers}}
		<tr>
			<td>{{$power.PowerOem.PowerHp.BayNumber}}</td>
			<td>{{$power.Model}}</td>
			<td>
			{{if eq $power.PowerStatus.Health "OK"}}
				<button type="button" class="btn btn-success">
			{{else}}
				<button type="button" class="btn btn-warning">
			{{end}}
      {{$power.PowerStatus.Health}}</button>
			</td>
		</tr>
	{{end}}
	</tbody>
</table>
{{end}}
</div>
<!-- /.container -->

{{template "footer.html" .}}
