{{template "overviewHeader.html" .}}

<!-- Page Content -->
<div class="container">
{{if not .temperatureJson}}
	<h1>No Response from Server</h1>
{{else}}
<table class="table table-striped">
	<thead>
		<tr>
			<th>Name</th>
			<th>Location</th>
			<th>State</th>
			<th>Temperature</th>
			<th>Unit</th>
		</tr>
	</thead>
	<tbody>
	{{range $temperature := .temperatureJson.Temperatures}}
		<tr>
			<td>{{$temperature.Name}}</td>
			<td>{{$temperature.Context}}</td>
			<td>
			{{if not $temperature.Status.Health}}
				<button type="button" class="btn btn-warning">{{$temperature.Status.State}}</button>
			{{else}}
				<button type="button" class="btn btn-success">{{$temperature.Status.Health}}</button>
			{{end}}
			</td>
			<td>{{$temperature.CurrentReading}}</td>
			<td>{{$temperature.Units}}</td>
		</tr>
	{{end}}
	</tbody>
</table>
{{end}}
</div>
<!-- /.container -->

{{template "footer.html" .}}
